<!DOCTYPE html>
<html>
  <head>
    <title>Andy's Assignment 4</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>
    <p>Welcome to Andy's Assignment 4</p>
    <a href="/reviews">Reviews</a>
    <a href="/orders">Orders</a>
    <a href="/rsvp">RSVP</a>

  </body>
</html>
