<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Orders</h1>
    <p>Welcome to the Orders Page!</p>

    <h2>Make an Order</h2>
    <form method='POST'>
      <label for="name"> Name:</label>
      <input type="text" name="name"> <br>
      <label for="phone"> Phone Number:</label>
      <input type="text" name="phone"> <br>
      <label for="order"> Order:</label>
      <textarea name="order" cols="30" rows="10"></textarea><br>
      <input type="submit" value="Place Order">
    </form>
  </body>
</html>
