<!DOCTYPE html>
<html>
  <head>
    <title>RSVP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>RSVP</h1>
    <p>Welcome to the RSVP Page!</p>

    <h2>Make a Reservation</h2>
    <form method='POST'>
      <label for="name"> Name:</label>
      <input type="text" name="name"> <br>
      <label for="size"> Party Size:</label>
      <input type="text" name="size"> <br>
      <label for="phone"> Phone Number:</label>
      <input type="text" name="phone"> <br>
      <input type="submit" value="Add to Waitlist">
    </form>

    <h2>Waitlist</h2>
    <% rsvp_data.forEach(function(person) { %>
      <h3>Position: <%= person.position %></h3>
      <div>Name: <%= person.name %></div>
      <div>Party Size: <%= person.size %></div>
      <br>
      <% }); %>
  </body>
</html>

